<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en">


<!-- user-acount11:10-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Furnitica - Minimalist Furniture</title>
    <link rel="shortcut icon" href="/public/images/home/logo-mobie.png" type="image/x-icon">

    <meta name="keywords" content="Furniture, Decor, Interior">
    <meta name="description" content="Furnitica - Minimalist Furniture HTML Template">
    <meta name="author" content="tivatheme">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- libs CSS -->
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="libs/font-material/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="libs/slider-range/css/jslider.css">
    <link rel="stylesheet" href="libs/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="libs/slick-slider/css/slick.css">
    <link rel="stylesheet" href="libs/slick-slider/css/slick-theme.css">

    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/reponsive.css">
</head>

<body class="user-acount">



<body>


    <%- include('../views/layout/header.ejs') %>

      <section class="h-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-10">
              <div class="card" style="border-radius: 10px;">
                
                <div class="card-body p-4">
                 
                  <% productData.forEach((data)=>{ %> 
                  <div class="card shadow-0 border mb-4">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-3">
                          <img src="/public/proimg/<%= data.image %> "
                            class="img-fluid" alt="Phone">
                        </div>
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0"><%= data.name %> </p>
                        </div>
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0 small">Price -<%= data.price %> </p>
                        </div>
                        
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0 small">Qty -<%= data. productQty %> </p>
                        </div>
                        <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0 small"><%= data.total %> </p>
                        </div>
                      </div>
                     
                    </div>
                  </div>
                    <% }) %> 
                      <div class="row d-flex align-items-center">
                          <div class="col-md-2">
                            <p class="text-muted mb-0 small">Track Order</p>
                          </div>
                          <div class="col-md-10">
                              <% if(productData[0].orderStatus =='processing') {%> 
                                  <div class="progress" style="height: 6px; border-radius: 16px;">
                                      <div class="progress-bar" role="progressbar"

                                      style="width: 12%; border-radius: 16px; background-color: #51e63a;" aria-valuenow="12"
                                        aria-valuemin="0" aria-valuemax="100">
                                      </div>
                                    </div>
                                      <div class="d-flex justify-content-around mb-1">
                                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Processing</p>
                                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Packed</p>
                                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Shipped</p>
                                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for Delivered</p>
                                      </div>
                                  <% }else if(productData[0].orderStatus=='packed') {%> 
                                      <div class="progress" style="height: 6px; border-radius: 16px;">
                                          <div class="progress-bar" role="progressbar"
                                            style="width: 37%; border-radius: 16px; background-color: #51e63a;" aria-valuenow="37"
                                            aria-valuemin="0" aria-valuemax="100">
                                          </div>
                                        </div>
                                        <div class="d-flex justify-content-around mb-1">
                                          <p class="text-muted mt-1 mb-0 small ms-xl-5">Processing</p>
                                          <p class="text-muted mt-1 mb-0 small ms-xl-5">Packed</p>
                                          <p class="text-muted mt-1 mb-0 small ms-xl-5">Shipped</p>
                                          <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for Delivered</p>
                                        </div>
                                      <% }else if(productData[0].orderStatus=='shipped') { %> 
                                          <div class="progress" style="height: 6px; border-radius: 16px;">
                                              <div class="progress-bar" role="progressbar"
                                                style="width: 59%; border-radius: 16px; background-color: #51e63a;" aria-valuenow="59"
                                                aria-valuemin="0" aria-valuemax="100">
                                              </div>
                                            </div>
                                            <div class="d-flex justify-content-around mb-1">
                                              <p class="text-muted mt-1 mb-0 small ms-xl-5">Processing</p>
                                              <p class="text-muted mt-1 mb-0 small ms-xl-5">Packed</p>
                                              <p class="text-muted mt-1 mb-0 small ms-xl-5">Shipped</p>
                                              <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for Delivered</p>
                                            </div>
                                            <% }else if(productData[0].orderStatus=='cancel') { %> 
                                              <div class="progress" style="height: 6px; border-radius: 16px;">
                                                  <div class="progress-bar" role="progressbar"
                                                    style="width: 100%; border-radius: 16px; background-color: #c82828;" aria-valuenow="100"
                                                    aria-valuemin="0" aria-valuemax="100">
                                                  </div>
                                                </div>
                                                <div class="d-flex justify-content-around mb-1">
                                                  
                                              <p class="text-muted mt-1 mb-0 small ms-xl-5">Cancelled</p>
                                                </div>
                                                  <% }else{ %>
                                                      <div class="progress" style="height: 6px; border-radius: 16px;">
                                                          <div class="progress-bar" role="progressbar"
                                                              style="width: 100%; border-radius: 16px; background-color: #51e63a;" aria-valuenow="37"
                                                              aria-valuemin="0" aria-valuemax="100">
                                                          </div>
                                                          </div>
                                                          <div class="d-flex justify-content-around mb-1">
                                                          <p class="text-muted mt-1 mb-0 small ms-xl-5">Processing</p>
                                                          <p class="text-muted mt-1 mb-0 small ms-xl-5">Packed</p>
                                                          <p class="text-muted mt-1 mb-0 small ms-xl-5">Shipped</p>
                                                          <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for Delivered</p>
                                                          </div>
                                                      <% } %>  
                      
                        </div>
                      </div>  
                  <div class="d-flex justify-content-between pt-2">
                    <p class="font-weight-medium mb-0">Order Address</p>
                    <p class="font-weight-medium mb-0"><span class="font-weight-bold me-4">Total₹ -</span> <%= productData[0].total %> </p>
                  </div>
      
                  <div class="d-flex justify-content-between pt-1">
                    <p class="text-muted mb-0">
                        <%= productData[0].address.addressline1 %> <br>
                        <%= productData[0].address.name %> <br>
                        <%= productData[0].address.address %> 
                        <%= productData[0].address.district %> 
                        <%= productData[0].address.state %> 
                        <%= productData[0].address.country %>  <br>
                        <%= productData[0].address.pin %> <br>
                        <%= productData[0].address.mobile %> 
                     </p>
                     <% if(productData[0].orderStatus !='cancel') {%> 
                        <a style="height: 40px;display: block;" href="/cancelorder?id=<%=productData[0]._id%>" class="btn btn-dark mt-4 px-3" >Cancel</a>
                     <% } %> 


                    
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </section>


      <%- include('../views/layout/footer.ejs') %>



    <!-- Vendor JS -->
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/popper/popper.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="libs/slider-range/js/tmpl.js"></script>
    <script src="libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="libs/slider-range/js/draggable-0.1.js"></script>
    <script src="libs/slider-range/js/jquery.slider.js"></script>
    <script src="libs/slick-slider/js/slick.min.js"></script>


</body>
</html>