<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en">
  <!-- product-grid-sidebar-left10:54-->
  <head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Furnitica - Minimalist Furniture</title>
    <link rel="shortcut icon" href="/public/images/home/logo-mobie.png" type="image/x-icon">


    <meta name="keywords" content="Furniture, Decor, Interior" />
    <meta
      name="description"
      content="Furnitica - Minimalist Furniture HTML Template"
    />
    <meta name="author" content="tivatheme" />

    <!-- Mobile Meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700"
      rel="stylesheet"
    />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="libs/nivo-slider/css/nivo-slider.css" />
    <link rel="stylesheet" href="libs/nivo-slider/css/animate.css" />
    <link rel="stylesheet" href="libs/nivo-slider/css/style.css" />
    <link
      rel="stylesheet"
      href="libs/font-material/css/material-design-iconic-font.min.css"
    />
    <link rel="stylesheet" href="libs/slider-range/css/jslider.css" />
    <link
      rel="stylesheet"
      href="libs/owl-carousel/assets/owl.carousel.min.css"
    />

    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/reponsive.css" />
  </head>
 
  <%- include('../middleware/layout/header.ejs') %>

  <body id="product-sidebar-left" class="product-grid-sidebar-left">
    

    <!-- main content -->
    <div class="main-content">
      <div id="wrapper-site">
        <div id="content-wrapper" class="full-width">
          <div id="main">
            <div class="page-home">
              <div class="container">
                <div class="content">
                  <div class="row">
                    <div
                      class="col-sm-8 col-lg-9 col-md-8 product-container width-100"
                    >
                      <h1>Collections</h1>
                      <div class="js-product-list-top firt nav-top">
                        <div class="d-flex justify-content-around row">
                          <div class="col col-xs-12">
                            <ul class="nav nav-tabs">
                              <li>
                                <a
                                  href="#grid"
                                  data-toggle="tab"
                                  class="active show fa fa-th-large"
                                ></a>
                              </li>
                            </ul>
                            <div class="hidden-sm-down total-products">
                              <p>There are 12 products.</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="tab-content product-items">
                        <div
                          id="grid"
                          class="related tab-pane fade in active show"
                        >
                          <div class="row">
                            <% if(product!=null){ %> <%
                            product.forEach(function(product) { %>

                            <div class="item text-center col-md-4">
                              <div
                                class="product-miniature js-product-miniature item-one first-item"
                              >
                                <div class="thumbnail-container border">
                                  <a href="/productdetail?id=<%=product._id%>">
                                    <img
                                      class="img-fluid image-cover"
                                      src="/public/proimg/<%=product.image %>"
                                      alt="img"
                                    />
                                    <!-- <img class="img-fluid image-secondary" src="public/images/product/22.jpg" alt="img"> -->
                                  </a>
                                  <div class="highlighted-informations">
                                    <div class="variant-links">
                                      <a
                                        href="#"
                                        class="color beige"
                                        title="Beige"
                                      ></a>
                                      <a
                                        href="#"
                                        class="color orange"
                                        title="Orange"
                                      ></a>
                                      <a
                                        href="#"
                                        class="color green"
                                        title="Green"
                                      ></a>
                                    </div>
                                  </div>
                                </div>
                                <div class="product-description">
                                  <div class="product-groups">
                                    <div class="product-title">
                                      <a href="product-detail.htm/productdetail"
                                        ><%=product.name%></a
                                      >
                                    </div>
                                    <div class="rating">
                                      <div class="star-content">
                                        <div class="star"></div>
                                        <div class="star"></div>
                                        <div class="star"></div>
                                        <div class="star"></div>
                                        <div class="star"></div>
                                      </div>
                                    </div>
                                    <div class="product-group-price">
                                      <div class="product-price-and-shipping">
                                        <span class="price"
                                          ><%=product.price%></span
                                        >
                                      </div>
                                    </div>
                                  </div>
                                  <div
                                    class="product-buttons d-flex justify-content-center"
                                  >
                                    <form
                                      action="#"
                                      method="post"
                                      class="formAddToCart"
                                    >
                                      <input
                                        type="hidden"
                                        name="id_product"
                                        value="1"
                                      />
                                      <a
                                        class="add-to-cart"
                                        href="/productdetail?id=<%=product._id%>"
                                        data-button-action="add-to-cart"
                                      >
                                        <i
                                          class="fa fa-shopping-cart"
                                          aria-hidden="true"
                                        ></i>
                                      </a>
                                    </form>
                                    <a
                                      class="addToWishlist"
                                      href="/wishlist"
                                      data-rel="1"
                                      onclick=""
                                    >
                                      <i
                                        class="fa fa-heart"
                                        aria-hidden="true"
                                      ></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <% }) %> <% } %>
                          </div>
                        </div>
                      </div>

                      <!-- pagination -->
                      <div class="pagination">
                        <div class="js-product-list-top">
                          <div class="d-flex justify-content-around row">
                            <div class="showing col col-xs-12">
                              <span>SHOWING 1-3 OF 3 ITEM(S)</span>
                            </div>
                            <div class="page-list col col-xs-12">
                              <ul>
                                <li>
                                  <a
                                    rel="prev"
                                    href="#"
                                    class="previous disabled js-search-link"
                                  >
                                    Previous
                                  </a>
                                </li>
                                <li class="current active">
                                  <a
                                    rel="nofollow"
                                    href="#"
                                    class="disabled js-search-link"
                                  >
                                    1
                                  </a>
                                </li>
                                <li>
                                  <a
                                    rel="nofollow"
                                    href="#"
                                    class="disabled js-search-link"
                                  >
                                    2
                                  </a>
                                </li>
                                <li>
                                  <a
                                    rel="nofollow"
                                    href="#"
                                    class="disabled js-search-link"
                                  >
                                    3
                                  </a>
                                </li>

                                <li>
                                  <a
                                    rel="next"
                                    href="#"
                                    class="next disabled js-search-link"
                                  >
                                    Next
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- end col-md-9-1 -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    
    
    <%- include('../middleware/layout/footer.ejs') %>

    

    <!-- back top top -->
    <div class="back-to-top">
      <a href="#">
        <i class="fa fa-long-arrow-up"></i>
      </a>
    </div>


    <!-- menu mobie right -->
    <div
      id="mobile-pagemenu"
      class="mobile-boxpage d-flex hidden-md-up active d-md-none"
    >
      <div class="content-boxpage col">
        <div
          class="box-header d-flex justify-content-between align-items-center"
        >
          <div class="title-box">Menu</div>
          <div class="close-box">Close</div>
        </div>
        <div class="box-content">
          <nav>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div id="megamenu" class="nov-megamenu clearfix">
              <ul class="menu level1">
                <li class="item home-page has-sub">
                  <span
                    class="arrow collapsed"
                    data-toggle="collapse"
                    data-target="#home1"
                    aria-expanded="true"
                    role="status"
                  >
                    <i class="zmdi zmdi-minus"></i>
                    <i class="zmdi zmdi-plus"></i>
                  </span>
                  <a href="index-2.html" title="Home">
                    <i class="fa fa-home" aria-hidden="true"></i>Home</a
                  >
                  <div
                    class="subCategory collapse"
                    id="home1"
                    aria-expanded="true"
                    role="status"
                  >
                  
                  </div>
                </li>
                <li class="item has-sub">
                  <span
                    class="arrow collapsed"
                    data-toggle="collapse"
                    data-target="#blog"
                    aria-expanded="false"
                    role="status"
                  >
                    <i class="zmdi zmdi-minus"></i>
                    <i class="zmdi zmdi-plus"></i>
                  </span>
                  <a href="#" title="Blog">
                    <i class="fa fa-address-book" aria-hidden="true"></i>Blog</a
                  >

                  <div
                    class="subCategory collapse"
                    id="blog"
                    aria-expanded="true"
                    role="status"
                  >
                    
                  </div>
                </li>
                
                <li class="item has-sub">
                  <a href="contact.html" title="Contact us">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>Contact
                    us</a
                  >
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <!-- Vendor JS -->
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/popper/popper.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="libs/slider-range/js/tmpl.js"></script>
    <script src="libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="libs/slider-range/js/draggable-0.1.js"></script>
    <script src="libs/slider-range/js/jquery.slider.js"></script>

    <!-- Template JS -->
    <script src="js/theme.js"></script>
  </body>

  <!-- product-grid-sidebar-left10:55-->
</html>
