<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="zxx">
  <!-- product-detail06:46-->
  <head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Furnitica - Minimalist Furniture HTML Template</title>

    <meta name="keywords" content="Furniture, Decor, Interior" />
    <meta
      name="description"
      content="Furnitica - Minimalist Furniture HTML Template"
    />
    <meta name="author" content="tivatheme" />

    <!-- Mobile Meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700"
      rel="stylesheet"
    />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="libs/nivo-slider/css/nivo-slider.css" />
    <link rel="stylesheet" href="libs/nivo-slider/css/animate.css" />
    <link rel="stylesheet" href="libs/nivo-slider/css/style.css" />
    <link
      rel="stylesheet"
      href="libs/font-material/css/material-design-iconic-font.min.css"
    />
    <link rel="stylesheet" href="libs/slider-range/css/jslider.css" />
    <link
      rel="stylesheet"
      href="libs/owl-carousel/assets/owl.carousel.min.css"
    />

    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/reponsive.css" />
  </head>
  <div class="container" style="background-color: #EEEEEE;"></div>
  <body id="product-detail" >
    <header>
      <div class="header-mobile d-md-none">
        <div
          class="mobile hidden-md-up text-xs-center d-flex align-items-center justify-content-around"
        >
          <div id="mobile_mainmenu" class="item-mobile-top">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>

          <div class="mobile-logo">
            <a href="index-2.html">
              <img
                class="logo-mobile img-fluid"
                src="public/images/home/logo-mobie.png"
                alt="Prestashop_Furnitica"
              />
            </a>
          </div>

          <div class="mobile-menutop" data-target="#mobile-pagemenu">
            <i class="zmdi zmdi-more"></i>
          </div>
        </div>

        <div id="mobile_search" class="d-flex">
          <div id="mobile_search_content">
            <form method="get" action="#">
              <input type="text" name="s" value="" placeholder="Search" />
              <button type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
          <div class="desktop_cart">
            <div class="blockcart block-cart cart-preview tiva-toggle">
              <div class="header-cart tiva-toggle-btn">
                <span class="cart-products-count">1</span>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </div>
              <div class="dropdown-content">
                <div class="cart-content">
                  <table>
                    <tbody>
                     
                      <tr>
                        <td colspan="3" class="d-flex justify-content-center">
                          <div class="cart-button">
                            <a href="product-cart.html" title="View Cart"
                              >View Cart</a
                            >
                            <a href="product-checkout.html" title="Checkout"
                              >Checkout</a
                            >
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="header-top d-xs-none">
        <div class="container">
          <div class="row">
            <div class="col-sm-2 col-md-2 d-flex align-items-center">
              <div id="logo">
                <a href="index-2.html">
                  <img
                    src="public/images/home/logo.png"
                    alt="logo"
                    class="img-fluid"
                  />
                </a>
              </div>
            </div>

            <div
              class="col-sm-5 col-md-5 align-items-center justify-content-center navbar-expand-md main-menu"
            >
              <div class="menu navbar collapse navbar-collapse">
                <ul class="menu-top navbar-nav">
                  <li>
                    <a href="#" class="parent">Home</a>
                    <div class="dropdown-menu"></div>
                  </li>

                  <li class="nav-link">
                    <a href="#" class="parent">Shop</a>
                    <div class="dropdown-menu drop-tab">
                      <ul>
                        <li class="item container group">
                          <div class="dropdown-menu dropdown-tab"></div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="contact.html" class="parent">Contact US</a>
                  </li>
                </ul>
              </div>
            </div>

            <div
              class="col-sm-5 col-md-5 d-flex align-items-center justify-content-end"
              id="search_widget"
            >
              <form method="get" action="#">
                <span
                  role="status"
                  aria-live="polite"
                  class="ui-helper-hidden-accessible"
                ></span>
                <input
                  type="text"
                  name="s"
                  value=""
                  placeholder="Search"
                  class="ui-autocomplete-input"
                  autocomplete="off"
                />
                <button type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </form>

              <div id="block_myaccount_infos" class="hidden-sm-down dropdown">
                <div class="myaccount-title">
                  <a href="#acount" data-toggle="collapse" class="acount">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>Account</span>
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </a>
                </div>

                <div id="acount" class="collapse">
                  <div class="account-list-content">
                    <div>
                      <a
                        class="login"
                        href="/profile"
                        rel="nofollow"
                        title="Log in to your customer account"
                      >
                        <i class="fa fa-cog"></i>
                        <span>My Account</span>
                      </a>
                    </div>

                    <div>
                      <a
                        class="check-out"
                        href="/checkout"
                        rel="nofollow"
                        title="Checkout"
                      >
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span>Checkout</span>
                      </a>
                    </div>
                    <div class="link_wishlist">
                      <a href="/wishlist" title="My Wishlists">
                        <i class="fa fa-heart"></i>
                        <span>My Wishlists</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="desktop_cart">
                <div class="blockcart block-cart cart-preview tiva-toggle">
                  <div class="header-cart tiva-toggle-btn">
                    <span class="cart-products-count">1</span>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </div>
                  <div class="dropdown-content">
                    <div class="cart-content">
                      <table>
                        <tbody>
                          <tr>
                            <td
                              colspan="3"
                              class="d-flex justify-content-center"
                            >
                              <div class="cart-button">
                                <a href="/cartlist" title="View Cart"
                                  >View Cart</a
                                >
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- main content -->
    <div class="main-content">
      <div id="wrapper-site">
        <div id="content-wrapper">
          <div id="main">
            <div class="page-home">
              <!-- breadcrumb -->
              <nav class="breadcrumb-bg">
                <div class="container no-index">
                  <div class="breadcrumb">
                    <ol>
                      <li>
                        <a href="/home">
                          <span>Home</span>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                          <span>Product Detail</span>
                        </a>
                      </li>
                    </ol>
                  </div>
                </div>
              </nav>

              <div class="container">
                <div class="content">
                  <div class="row">
                    <div class="col-sm-8 col-md-9 col-md-9">
                      <div class="main-product-detail">
                        <h2><%=product.name%></h2>
                        <div class="product-single row" style="background-color: #EEEEEE; ">
                          <div
                            class="product-detail col-xs-12 col-md-5 col-sm-5"
                          >
                            <div class="page-content" id="content">
                              <div class="images-container">
                                <div class="js-qv-mask mask tab-content border">
                                  <div
                                    id="item1"
                                    class="tab-pane fade active in show"
                                  >
                                    <img
                                      src="/public/proimg/<%=product.image%>"
                                      alt="img"
                                    />
                                  </div>

                                  <div
                                    class="layer hidden-sm-down"
                                    data-toggle="modal"
                                    data-target="#product-modal"
                                  >
                                    <i class="fa fa-expand"></i>
                                  </div>
                                </div>
                               


                                                            
                                <div
                                  class="modal fade"
                                  id="product-modal"
                                  role="dialog"
                                >
                                  <div class="modal-dialog">
                                    <!-- Modal content-->
                                   
                                    <div class="modal-content">
                                      <div class="modal-header">
                                          <div class="modal-body">
                                              <div class="product-detail">
                                                  <div>
                                                      <div class="images-container">
                                                          <div class="js-qv-mask mask tab-content">
                                                              <div id="modal-item1" class="tab-pane fade active in show">
                                                                  <img src="/public/proimg/<%=product.image%>" alt="img">
                                                              </div>
                                                            
                                                          </div>
                                                          <ul class="product-tab nav nav-tabs">
                                                              <li class="active">
                                                                  <a href="#modal-item1" data-toggle="tab" class=" active show">
                                                                      <img src="/public/proimg/<%=product.image%>" alt="img">
                                                                  </a>
                                                              </li>
                                                              
                                                              
                                                          </ul>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-info col-xs-12 col-md-7 col-sm-7">
                            <div class="detail-description">
                              <div class="price-del">
                                <span class="price">Rs.<%=product.price%></span>
                                <span class="float-right">
                                  <span class="availb">Availability: </span>
                                  <span class="check">
                                    <i
                                      class="fa fa-check-square-o"
                                      aria-hidden="true"
                                    ></i
                                    >IN STOCK</span
                                  >
                                </span>
                              </div>
                              <p class="description">
                                
                              </p>

                              <div class="has-border cart-area">
                                <div class="product-quantity">
                                  <div class="qty">
                                    <div class="input-group">
                                      <span class="add">
                                        <!-- <a class="fa fa-shopping-cart" href="/addtocart?id=<%=product._id%>"></a> -->
                                        <button
                                          class="btn btn-secondary"
                                          onclick="add_to_cart('<%=product._id%>')"
                                        >
                                          add to cart
                                        </button>

                                        <a class="addToWishlist" onclick="wishList('<%=product._id%>')">
                                          <i
                                            class="fa fa-heart"
                                            aria-hidden="true"
                                          ></i>
                                        </a>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="clearfix"></div>
                                <p class="product-minimal-quantity"></p>
                              </div>
                              <div class="d-flex2 has-border">
                                <div class="btn-group">
                                  <a href="#">
                                    <i class="zmdi zmdi-share"></i>
                                    <span>Share</span>
                                  </a>
                                  <a href="#" class="email">
                                    <i
                                      class="fa fa-envelope"
                                      aria-hidden="true"
                                    ></i>
                                    <span>SEN TO A FRIEND</span>
                                  </a>
                                  <a href="#" class="print">
                                    <i class="zmdi zmdi-print"></i>
                                    <span>Print</span>
                                  </a>
                                </div>
                              </div>
                              <div class="rating-comment has-border d-flex">
                                <div class="review-description d-flex">
                                  <span>REVIEW :</span>
                                  <div class="rating">
                                    <div class="star-content">
                                      <div class="star"></div>
                                      <div class="star"></div>
                                      <div class="star"></div>
                                      <div class="star"></div>
                                      <div class="star"></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="read after-has-border">
                                  <a href="#review">
                                    <i
                                      class="fa fa-commenting-o color"
                                      aria-hidden="true"
                                    ></i>
                                    <span>READ REVIEWS (3)</span>
                                  </a>
                                </div>
                                <div class="apen after-has-border">
                                  <a href="#review">
                                    <i
                                      class="fa fa-pencil color"
                                      aria-hidden="true"
                                    ></i>
                                    <span>WRITE A REVIEW</span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="review">
                          <ul class="nav nav-tabs">
                            <li class="active">
                              <a
                                data-toggle="tab"
                                href="#description"
                                class="active show"
                                >Description</a
                              >
                            </li>
                            
                            <li>
                              <a data-toggle="tab" href="#review"
                                >Reviews (2)</a
                              >
                            </li>
                          </ul>

                          <div class="tab-content">
                            <div
                              id="description"
                              class="tab-pane fade in active show"
                            >
                              <p>
                                <%=product.description%>
                              </p>
                              
                            </div>

                            <div id="review" class="tab-pane fade">
                              <div class="spr-form">
                                <div class="user-comment">
                                  <div class="spr-review">
                                    <div class="spr-review-header">
                                      <span class="spr-review-header-byline">
                                        <strong>Peter Capidal</strong> -
                                        <span>Apr 14, 2018</span>
                                      </span>
                                      <div class="rating">
                                        <div class="star-content">
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="spr-review-content">
                                      <p class="spr-review-content-body">
                                        In feugiat venenatis enim, non finibus
                                        metus bibendum eu. Proin massa justo,
                                        eleifend fermentum varius quis, semper
                                        gravida quam. Cras nec enim sed lacus
                                        viverra luctus. Nunc quis accumsan
                                        mauris. Aliquam fermentum sit amet est
                                        id scelerisque. Nam porta risus metus.
                                      </p>
                                    </div>
                                  </div>
                                  <div class="spr-review preview2">
                                    <div class="spr-review-header">
                                      <span class="spr-review-header-byline">
                                        <strong>David James</strong> -
                                        <span>Apr 13, 2018</span>
                                      </span>
                                      <div class="rating">
                                        <div class="star-content">
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="spr-review-content">
                                      <p class="spr-review-content-body">
                                        In feugiat venenatis enim, non finibus
                                        metus bibendum eu. Proin massa justo,
                                        eleifend fermentum varius quis, semper
                                        gravida quam. Cras nec enim sed lacus
                                        viverra luctus. Nunc quis accumsan
                                        mauris. Aliquam fermentum sit amet est
                                        id scelerisque. Nam porta risus metus.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <form
                                method="post"
                                action="#"
                                class="new-review-form"
                              >
                                <input
                                  type="hidden"
                                  name="review[rating]"
                                  value="3"
                                />
                                <input type="hidden" name="product_id" />
                                <h3 class="spr-form-title">Write a review</h3>
                                <fieldset>
                                  <div class="spr-form-review-rating">
                                    <label class="spr-form-label"
                                      >Your Rating</label
                                    >
                                    <fieldset class="ratings">
                                      <input
                                        type="radio"
                                        id="star5"
                                        name="rating"
                                        value="5"
                                      />
                                      <label
                                        class="full"
                                        for="star5"
                                        title="Awesome - 5 stars"
                                      ></label>
                                      <input
                                        type="radio"
                                        id="star4half"
                                        name="rating"
                                        value="4 and a half"
                                      />
                                      <input
                                        type="radio"
                                        id="star4"
                                        name="rating"
                                        value="4"
                                      />
                                      <label
                                        class="full"
                                        for="star4"
                                        title="Pretty good - 4 stars"
                                      ></label>
                                      <input
                                        type="radio"
                                        id="star3half"
                                        name="rating"
                                        value="3 and a half"
                                      />
                                      <input
                                        type="radio"
                                        id="star3"
                                        name="rating"
                                        value="3"
                                      />
                                      <label
                                        class="full"
                                        for="star3"
                                        title="Meh - 3 stars"
                                      ></label>
                                      <input
                                        type="radio"
                                        id="star2half"
                                        name="rating"
                                        value="2 and a half"
                                      />
                                      <input
                                        type="radio"
                                        id="star2"
                                        name="rating"
                                        value="2"
                                      />
                                      <label
                                        class="full"
                                        for="star2"
                                        title="Kinda bad - 2 stars"
                                      ></label>
                                      <input
                                        type="radio"
                                        id="star1half"
                                        name="rating"
                                        value="1 and a half"
                                      />
                                      <input
                                        type="radio"
                                        id="star1"
                                        name="rating"
                                        value="1"
                                      />
                                      <label
                                        class="full"
                                        for="star1"
                                        title="Sucks big time - 1 star"
                                      ></label>
                                      <input
                                        type="radio"
                                        id="starhalf"
                                        name="rating"
                                        value="half"
                                      />
                                    </fieldset>
                                  </div>
                                </fieldset>
                                <fieldset class="spr-form-contact">
                                  <div class="spr-form-contact-name">
                                    <input
                                      class="spr-form-input spr-form-input-text form-control"
                                      value=""
                                      placeholder="Enter your name"
                                    />
                                  </div>
                                  <div class="spr-form-contact-email">
                                    <input
                                      class="spr-form-input spr-form-input-email form-control"
                                      value=""
                                      placeholder="Enter your email"
                                    />
                                  </div>
                                </fieldset>
                                <fieldset>
                                  <div class="spr-form-review-body">
                                    <div class="spr-form-input">
                                      <textarea
                                        class="spr-form-input-textarea"
                                        rows="10"
                                        placeholder="Write your comments here"
                                      ></textarea>
                                    </div>
                                  </div>
                                </fieldset>
                                <div class="submit">
                                  <input
                                    type="submit"
                                    name="addComment"
                                    id="submitComment"
                                    class="btn btn-default"
                                    value="Submit Review"
                                  />
                                </div>
                              </form>
                            </div>
                            <div id="tag" class="tab-pane fade in">
                              <p>
                               
                              </p>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer class="footer-one">
      <div class="inner-footer">
        <div class="container">
          <div class="footer-top col-lg-12 col-xs-12">
            <div class="row">
              <div class="nov-html col-lg-4 col-sm-12 col-xs-12">
                <div class="block">
                  <div class="block-content">
                    <p class="logo-footer">
                      <img src="public/images/home/logo.png" alt="img" />
                    </p>
                    <p class="content-logo">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim
                    </p>
                  </div>
                </div>
                <div class="block">
                  <div class="block-content">
                    <ul>
                      <li>
                        <a href="#">About Us</a>
                      </li>
                      <li>
                        <a href="#">Reasons to shop</a>
                      </li>
                      <li>
                        <a href="#">What our customers say</a>
                      </li>
                      <li>
                        <a href="#">Meet the teaml</a>
                      </li>
                      <li>
                        <a href="#">Contact our buyers</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="block">
                  <div class="block-content">
                    <p class="img-payment">
                      <img
                        class="img-fluid"
                        src="public/images/home/payment-footer.png"
                        alt="img"
                      />
                    </p>
                  </div>
                </div>
              </div>
              <div class="nov-html col-lg-4 col-sm-6">
                <div class="block m-top">
                  <div class="title-block">Contact Us</div>
                  <div class="block-content">
                    <div class="contact-us">
                      <div class="title-content">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>Address :</span>
                      </div>
                      <div class="content-contact address-contact">
                        <p>
                          123 Suspendis matti, Visaosang Building VST District
                          NY Accums, North American
                        </p>
                      </div>
                    </div>
                    <div class="contact-us">
                      <div class="title-content">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>Email :</span>
                      </div>
                      <div class="content-contact mail-contact">
                        <p>support@domain.com</p>
                      </div>
                    </div>
                    <div class="contact-us">
                      <div class="title-content">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>Hotline :</span>
                      </div>
                      <div class="content-contact phone-contact">
                        <p>+0012-345-67890</p>
                      </div>
                    </div>
                    <div class="contact-us">
                      <div class="title-content">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>Opening Hours :</span>
                      </div>
                      <div class="content-contact hours-contact">
                        <p>Monday - Sunday / 08.00AM- 19.00</p>
                        <span>(Except Holidays)</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tiva-modules col-lg-4 col-md-6">
                <div class="block m-top">
                  <div class="block-content">
                    <div class="title-block">Newsletter</div>
                    <div class="sub-title">
                      Sign up to our newsletter to get the latest articles,
                      lookbooks voucher codes direct to your inbox
                    </div>
                    <div class="block-newsletter">
                      <form action="#" method="post">
                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control"
                            name="email"
                            value=""
                            placeholder="Enter Your Email"
                          />
                          <span class="input-group-btn">
                            <button
                              class="effect-btn btn btn-secondary"
                              name="submitNewsletter"
                              type="submit"
                            >
                              <span>subscribe</span>
                            </button>
                          </span>
                        </div>
                        <input type="hidden" name="action" value="0" />
                      </form>
                    </div>
                  </div>
                </div>
                <div class="block m-top1">
                  <div class="block-content">
                    <div class="social-content">
                      <div class="title-block">Follow us on</div>
                      <div id="social-block">
                        <div class="social">
                          <ul class="list-inline mb-0 justify-content-end">
                            <li class="list-inline-item mb-0">
                              <a href="#" target="_blank">
                                <i class="fa fa-facebook"></i>
                              </a>
                            </li>
                            <li class="list-inline-item mb-0">
                              <a href="#" target="_blank">
                                <i class="fa fa-twitter"></i>
                              </a>
                            </li>
                            <li class="list-inline-item mb-0">
                              <a href="#" target="_blank">
                                <i class="fa fa-google"></i>
                              </a>
                            </li>
                            <li class="list-inline-item mb-0">
                              <a href="#" target="_blank">
                                <i class="fa fa-instagram"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block m-top1">
                  <div class="block-content">
                    <div class="payment-content">
                      <div class="title-block">Payment accept</div>
                      <div class="payment-image">
                        <img
                          class="img-fluid"
                          src="public/images/home/payment.png"
                          alt="img"
                        />
                      </div>
                    </div>
                    <!-- Popup newsletter -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tiva-copyright">
        <div class="container">
          <div class="row">
            <div class="text-center col-lg-12">
              <span>
                <a target="_blank" href="https://www.templateshub.net"
                  >Templates Hub</a
                >
              </span>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- back top top -->
    <div class="back-to-top">
      <a href="#">
        <i class="fa fa-long-arrow-up"></i>
      </a>
    </div>

    <!-- menu mobie left -->
    <div class="mobile-top-menu d-md-none">
      <button type="button" class="close" aria-label="Close">
        <i class="zmdi zmdi-close"></i>
      </button>
      <div
        id="desktop_verticalmenu"
        class="tiva-verticalmenu block"
        data-count_showmore="17"
      >
        <div class="box-content block-content">
          <div class="verticalmenu" role="navigation">
            <ul class="menu level1">
              <li class="item parent">
                <a href="#" class="hasicon" title="SIDE TABLE">
                  <img src="public/images/home/table-lamp.png" alt="img" />SIDE
                  TABLE</a
                >
                <span
                  class="arrow collapsed"
                  data-toggle="collapse"
                  data-target="#SIDE-TABLE"
                >
                  <i class="zmdi zmdi-minus"></i>
                  <i class="zmdi zmdi-plus"></i>
                </span>
                <div
                  class="subCategory collapse"
                  id="SIDE-TABLE"
                  aria-expanded="true"
                  role="status"
                >
                  <ul>
                    <li class="item">
                      <a href="#" title="Aliquam lobortis">Aliquam lobortis</a>
                    </li>
                    <li class="item parent-submenu">
                      <a href="#" title="Duis Reprehenderit"
                        >Duis Reprehenderit</a
                      >
                      <span
                        class="arrow collapsed"
                        data-toggle="collapse"
                        data-target="#sub-Category"
                      >
                        <i class="zmdi zmdi-minus"></i>
                        <i class="zmdi zmdi-plus"></i>
                      </span>
                      <div
                        class="subCategory collapse"
                        id="sub-Category"
                        aria-expanded="true"
                        role="status"
                      >
                        <ul>
                          <li class="item">
                            <a href="#" title="Aliquam lobortis"
                              >Aliquam lobortis</a
                            >
                          </li>
                          <li class="item">
                            <a href="#" title="Duis Reprehenderit"
                              >Duis Reprehenderit</a
                            >
                          </li>
                          <li class="item">
                            <a href="#" title="Voluptate">Voluptate</a>
                          </li>
                          <li class="item">
                            <a href="#" title="Tongue Est">Tongue Est</a>
                          </li>
                          <li class="item">
                            <a href="#" title="Venison Andouille"
                              >Venison Andouille</a
                            >
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="item">
                      <a href="#" title="Voluptate">Voluptate</a>
                    </li>
                    <li class="item">
                      <a href="#" title="Tongue Est">Tongue Est</a>
                    </li>
                    <li class="item">
                      <a href="#" title="Venison Andouille"
                        >Venison Andouille</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Vendor JS -->
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/popper/popper.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="libs/slider-range/js/tmpl.js"></script>
    <script src="libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="libs/slider-range/js/draggable-0.1.js"></script>
    <script src="libs/slider-range/js/jquery.slider.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    // Ajax Linking
    <script src="/public/js/script.js"></script>

    // Sweet alert Linking
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Template JS -->
    <script src="js/theme.js"></script>
    <script>
      function add_to_cart(proId) {
        $.ajax({
          url: "/add_to_cart",
          method: "post",
          data: {
            Id: proId,
          },
          success: (response) => {
            if (response.exist) {
              Swal.fire({
                position: "center",
                icon: "warning",
                title: "Product Already in Cart..!",
                showConfirmButton: false,
                timer: 1500,
                
              });
            }
            if (response.success) {
              Swal.fire({
                position: "center",
                icon: "success",
                title: "Product add successfully",
                showConfirmButton: false,
                timer: 1500,
              });
              let count = response.count;
              $("#cart_count").html(count);
            }
            if (response.outofStock) {
              Swal.fire({
                position: "center",
                icon: "warning",
                title: "Sorry,Product Out of Stock..!",
                showConfirmButton: false,
                timer: 1500,
              });
            }
          },
        });
      }



      function wishList(id){
    console.log(id);
    $.ajax({
        url:'/wishlist',
        method:'post',
        data : {
            prodId : id
        },
       
        success:(response)=>{
            if(response.wish){
                Swal.fire({
                    position: 'center',
                        icon: 'warning',
                        title: 'Product Already in Wishlist..!',
                        showConfirmButton: false,
                        timer: 1500
                   
                  });
                
                }
                if(response.success){
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'product add successfully',
                        showConfirmButton: false,
                        timer: 1500
                      })
                      let count=response.count
                      $("#wishlist_count").html(count)

                }
          
        }
    })
    // console.log(data);

}

    </script>
  </body>

</div>

  <!-- product-detail07:06-->
</html>
